.StudentSearch input{
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  padding: 0.5rem;
  font-family: inherit;
}

input:focus {
  outline: none;
}

input:hover {
  border-color: blueviolet;
}